html,body{
  position: relative;
  height: 100%;
  font-size: 14px;
  color: #000;
}
input{
 -webkit-text-fill-color: #000;
}
@media (min-width:768px){.container{width:750px}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:100%}
}
.container {
    max-width: 100%;
    padding:0px;
}
.navbar{
  margin-bottom: 0px;
}
.login-container{
    position: relative;
    width: 700px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}
.form-control{
  width : auto;
  display: inline-block;
}
.pagetitle{
  background-color: #409d22;
  color: #ffffff;
  padding: 2px 4px;
}
.panel{
  border-radius: 0;
}
.btn{
  padding: 4px 6px;
}
.box{
  padding: 7px 0;
}
.box_third{
  width: 32%;
  padding: 4px;
}
.box_half{
  width: 50%;
  padding: 4px;
}
.space{
  padding: 4px 6px;
}
.table{
  margin-bottom: 2px;
}
#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}
.seachformtable{
}
.seachformtable table{
  border-spacing: 2px;
}
.seachformtable table th{
  border:none;
  font-weight:normal;
  padding: 0px 4px;
}
.seachformtable table td{
  border:none;
  padding: 0px;
}
.seachformtable table td span{
  color:#aaa;
  padding:4px;
}
.formtable.table {
  margin-top: 24px;
}
.formtable.table th {
  border:none;
}
.formtable.table td {
  border:none;
}
.formtable-line.table {
  margin-top: 8px;
}
.formtable-line.table th {
}
.formtable-line.table td {
  vertical-align: middle;
}
.customertable.table {
  margin-top: 24px;
}
.customertable.table th {
  border-bottom:1px solid #aaa;
}
.customertable.table td {
  border-bottom:1px solid #aaa;
}
.billtable.table{
  margin-bottom:0px;
}
.billtable.table th{
  text-align: center;
  font-size: 20px;
  background-color: #fec;
}
.billtable.table td{
  font-size: 20px;
}
.nobordertable.table{
  margin:10px;
  border-collapse: separate;
  border-spacing: 4px 4px;
}
.nobordertable.table tr{
  border: none;
  padding: 2px;
}
.nobordertable.table th{
  border: none;
}
.nobordertable.table td{
  border: none;
}
.receipt_done{
  border: 2px solid #00f;
  color: #00f;
}
.receipt_none{
  border: 2px solid #000;
  color: #000;
}
.receipt_none_red{
  border: 2px solid #f00;
  color: #f00;
}
.receipt_none_blue{
  border: 2px solid #00f;
  color: #00f;
}
.listtable.table{
  margin-bottom:0px;
}
.listtable.table th{
  background-color: #f3f3e2;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  padding: 4px;
}
.listtable.table td{
  white-space: nowrap;
  padding: 4px;
}
.listsummary{
}
.listsummary table{
  width: 100%;
}
.listsummary th{
  width: 10%;
  color: #fff;
  background-color: rgb(50, 93, 136);
  border: 1px solid #aaa;
  text-align: center;
  font-weight: normal;
  padding: 8px;
  margin: 4px 0px;
  font-size: 16px;
}
.listsummary td{
  width: 10%;
  border: 1px solid #aaa;
  padding: 8px;
  margin: 4px 0px;
  text-align: right;
  font-size: 20px;
}
.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #acf;
    background-size: cover;
    background-color: #4af;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}
.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.form-title{
  margin: 16px 0px;
  padding: 0px 0px;
  font-size: 120%;
  border:2px solid #ccc;
  color: #fff;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.red{
  color: #f00;
}
.blue{
  color: #00f;
}
.black{
  color: #000;
}
.gray{
  color: #aaa;
}
.pink{
  color: #fcc;
}
.orange{
  color: #ffa500;
}
.bg-red{
  background-color: #f00;
}
.bg-shinered{
  background-color: #ff5050;
}
.bg-pink{
  background-color: #fcc;
}
.bg-lightpink{
  background-color: #fee;
}
.bg-blue{
  background-color: #8ce;
}
.bg-yellow{
  background-color: #ff0;
}
.bg-orange{
  background-color: #ffa500;
}
.bg-lightorange{
  background-color: #ffd0b0;
}
.bg-lightblue{
  background-color: #e0f0f0;
}
.bg-lightgreen{
  background-color: #e0f0e0;
}
.font-big{
  font-size: 120%;
}
.font-90{
  font-size: 90%;
}
.f12{
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
.f14{
  font-size: 14px;
}
.f16{
  font-size: 16px;
}
.f20{
  font-size: 20px;
}
.f24{
  font-size: 24px;
}
.f28{
  font-size: 28px;
}
.f32{
  font-size: 32px;
}
.f40{
  font-size: 40px;
}
.f48{
  font-size: 48px;
}
.f64{
  font-size: 64px;
}
.r3box{
  background-color: #f3f3e2;
  padding: 8px;
  margin: 4px 0px;
  text-align: center;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.p-left100{
  padding-left:100px;
}
.r3box-l{
  background-color: #f0f0f0;
  padding: 8px;
  margin: 4px 0px;
  text-align: left;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-r{
  background-color: rgb(240,240,240);
  padding: 12px;
  margin: 4px 0px;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-input{
  background-color: rgb(255,255,255);
  padding: 4px;
  margin: 4px 0px;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-input-24{
  background-color: rgb(255,255,255);
  font-size: 24px;
  padding: 4px;
  margin: 4px 0px;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-aqua{
  background-color: rgb(70, 210, 210);
  padding: 12px;
  margin: 4px 0px;
  text-align: center;
  color: #fff;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-green{
  background-color: rgb(70, 210, 70);
  padding: 12px;
  margin: 4px 0px;
  text-align: center;
  color: #fff;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-orange{
  background-color: rgb(240, 133, 50);
  padding: 12px;
  margin: 4px 0px;
  text-align: center;
  color: #fff;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-gray{
  background-color: rgb(133, 133, 133);
  padding: 12px;
  margin: 4px 0px;
  text-align: center;
  color: #fff;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.r3box-money{
  background-color: rgb(240, 240, 220);
  padding: 4px;
  margin: 4px 0px;
  text-align: center;
  color: #000;
  border-radius: 3px;          /* CSS3草案 */  
  -webkit-border-radius: 3px;  /* Safari,Google Chrome用 */  
  -moz-border-radius: 3px;     /* Firefox用 */
}
.bottom-text {
  position: absolute;
  bottom: 0;
}
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#pageTop a {
  display: block;
  z-index: 999;
  padding: 0;
  line-height: 48px;
  border-radius: 30px;
  width: 48px;
  height: 48px;
  background-color: #9FD6D2;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}


/*20180726 add 編集画面用一覧テーブル*/
table.inputListForm {
  table-layout: fix;
}

 table.inputListForm tr th
,table.inputListForm tr td
{
  vertical-align: middle;
}

 table.inputListForm tr td input[type="text"]
,table.inputListForm tr td button
,table.inputListForm tr td a
{
  width: 100% !important;
}

.inputFormTitle {
  margin-top: 20px;
}

/*errorbox*/
.e_box {
  color: red;
  padding: 10px;
  font-size: 120%;
}

/*20181011 add*/
table th, table td {
  word-break: break-all;
}

.dialog-buttom-btn-box {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

/*dialog*/
.modal .panel-body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 10%;
  max-height: 75vh;
}

.leftbox {
  float:left;
}
.rightbox {
  float:right;
}

.glyphicon-remove-circle {
  font-size: 23px;
  position: relative;
  top: 5px;
}

.glyphicon-remove-circle:hover {
  cursor: pointer;
}

.inputFormTitle {
    background-color: #007c3c;
    border-bottom: solid 1px #007c3c;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 2em;
    margin: 1em 0 0 0;
    position: relative;
}

.inputFormTitle::after {
    position: absolute;
    top: 0.65em;
    left: 1em;
    content: '';
    width: 5px;
    height: calc(100% - 1.2em);
    background-color: #fff;
    border-radius: 5px;
    content: '';
    display: block;
    clear: both;
}

.btn-listback {
  width: 100px;
  display: inline;
  margin-left: 20px;
}

.btn-edit {
  width: 100px;
  display: inline;
  padding: 5px 30px 5px 30px;
  margin-left: 20px;
}

.btn-delete {
  width: 50px;
  display: inline;
  margin-left: 20px;
}

.btn-addrow {
  width: 50px;
  display: inline;
  margin-left: 20px;
}

.panel-footer {
  background: white;
}

.msgBox {
  background-color: #fff1a8;
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin-bottom: 10px;
}


.pager span {
  background: #d4d4c8 !important;
}

/*20181106 add/

/*一覧テーブル横スクロール*/
table.listtable {
	display: block;
	position: relative;
	border: none;
}
table.listtable tbody {
	display: block;
	position: relative;
	width: auto;
	overflow-x: auto;
	white-space: nowrap;
}

/*タイトルバー内のボタン*/
.panel-heading .btn {
  position: relative;
  top: -29px;
}

.table label {
  margin-right: 10px;
}

/*テキストボックスの長さ*/
.table .veryshort {
  width: 50px;
}

.table .short {
  width: 100px;
}

.table .middle {
  width: 200px;
}

.table .long {
  width: 400px;
}

.table .verylong {
  width: 600px;
}

/*テーブル th, tdの幅*/
.twoline th {
  width: 20%;
}
.twoline td {
  width: 80%;
}

.fourline th {
  width: 12%;
}
.fourline td {
  width: 38%;
}

/*詳細画面・編集画面のボタンボックス*/
.btn-box {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

/*テーブルのスマホ対応*/
@media screen and (max-width: 640px) {

  /*ダイアログ内のテーブル*/
  /*園・課外教室マスタ　登録画面・確認画面内のテーブル*/
  div.modal {
    min-width: 360px;
  }
  
  div.modal div.panel-body {
    max-height: 380px;
  }
  
  
   div.modal table:not(.listtable) td
  ,div.modal table:not(.listtable) th 
  ,table.rps > tbody > tr > th
  ,table.rps > tbody > tr > td
  {
    width:100% !important;
    display:block;
    box-sizing: border-box;
    margin: 0;
  }
  
  /*テキストボックスの長さ*/
  .table input {
    max-width: 200px !important;
  }
  
  /*テキストエリアの長さ*/
  .table textarea {
    max-width: 200px !important;
  }
  
  /*ネストさせたテーブル*/
  table.nest {
  	max-width: 280px !important;
  }
  
}


.readonly{
  display: inline-block;
  border-radius: 5px;
  background-color: #eee;
  padding: 8px;
  margin: 4px 0px;
  width: 400px;
  border: none;
}

.innerbox {
  float: left;
  margin-right: 10px;
}

.strfile {
  color: #119574;
  text-decoration: underline;
}

.strfile:hover {
  cursor: pointer
}

.description {
  margin: 0px 0px 0px 10px;
}

.example {
  margin: 0px 0px 0px 10px;
}

.fromto {
  margin: 0px 10px 0px 10px;
}